<!DOCTYPE html>
<html>
<head>
  <title>Careers | California Auto Center</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">

</head>
<body class="careers">
<h1>CAREERS</h1>
Last updated [June 26th, 2020]<br /><hr />
<b><h5>Currently, there's no job posting.<br />
  Please check back in the near future.<br /><br />

CONTACT US:<br /><br />
California Auto Center<br />
316 El Camino Real<br />
Millbrae, CA 94030<br />
(650)692-5222<br />
californiaautocenter@yahoo.com</h5></b>
</body>
<br /><br /><br /><br />
<hr />
</html>