<!DOCTYPE html>
<html>
<head>
  <title>Terms | California Auto Center</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">

</head>
<body class="Terms">
<h1>Our Terms</h1>
Last updated [June 26th, 2020]<br /><hr />
<b><h5>

CONTACT US:<br /><br />
Millbrae Auto Service Center DBA California Auto Center<br />
316 El Camino Real<br />
Millbrae, CA 94030<br />
(650)692-5222<br />
californiaautocenter@yahoo.com</h5></b>
</body>
<br /><br /><br /><br />
<hr />
</html>